{% extends 'base_bo.html.twig' %}

{% block title %}{{ parent() }} - Gestion des utilisateurs{% endblock %}

{% block content_title %}<i class="fas fa-users"></i> Liste des utilisateurs{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste des utilisateurs</h3>
                        <div class="card-tools"><a href="{{ path('olix_users__create') }}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Ajouter</a></div>
                    </div>

                    <div class="card-body table-responsive">
                        <div id="olixDataTables">Loading...</div>
                        <script>
                            var olixDataTables = {{ datatable_settings(datatable) }};
                        </script>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    {% include '@OlixBackOffice/Modal/base.html.twig' with {'element': 'cet utilisateur'} %}

{% endblock %}
