<div class="form-inline mt-3">
    <div class="input-group">
        <select name="olix-search" {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', { url: path('ux_entity_autocomplete', { alias: alias })}) }}></select>
    </div>
</div>