<div class="form-inline mt-3">
    <div class="input-group">
        <input id="sdSearch" class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
    </div>
</div>