{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="user-panel mt-3 pb-3 d-flex">
    <div class="image">
        <img src="{{ asset(app.user.avatar) }}" class="img-circle elevation-2" alt="{{ app.user.username }}">
    </div>
    <div class="info">
        <a href="{{ path('olix_profile') }}" class="d-block">{{ app.user.name|default(app.user.username) }}</a>
    </div>
</div>
{% endif %}