{{ form_start(form) }}
    <div class="modal-header" id="modalOlixLabel">
        <h4 class="modal-title text-danger">
            <i class="fas fa-exclamation-circle"></i> &nbsp;
            Confirmation de suppression
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        {{ form_rest(form) }}
        <p>Souhaites tu confirmer la suppression de {{ element|raw }} ?</p>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-danger" name="validation"><i class="fas fa-trash"></i> Confirmer</button>
    </div>
{{ form_end(form) }}
