{% if app.session and app.session.started and app.session.flashbag.peekAll|length > 0 %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div style="display: none;" role="toastr" data-alert="{{ type }}">{{ message|trans({},'flashmessages')|raw }}</div>
        {% endfor %}
    {% endfor %}
{% endif %}