@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/source-sans-pro-300-normal.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: url(./fonts/source-sans-pro-400-normal.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(./fonts/source-sans-pro-400-italic.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: url(./fonts/source-sans-pro-700-normal.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

.avatar img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #abb5bd;
    padding: 1px;
}

legend.col-form-label {
    font-weight: 700;
}

.card-filter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem 0 0.75rem;
}

/**
 * Formulaire autocomplete
 */
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/**
 * Couleurs des badges
 */
.badge-green {
    color: #fff;
    background-color: #28a745;
}
.badge-blue {
    color: #fff;
    background-color: #007bff;
}
.badge-yellow {
    color: #fff;
    background-color: #ffc107;
}
.badge-red {
    color: #fff;
    background-color: #dc3545;
}
.badge-black {
    color: #fff;
    background-color: #000;
}
.badge-gray {
    color: #fff;
    background-color: #adb5bd;
}
.badge-indigo {
    color: #fff;
    background-color: #6610f2;
}
.badge-lightblue {
    color: #fff;
    background-color: #3c8dbc;
}
.badge-navy {
    color: #fff;
    background-color: #001f3f;
}
.badge-purple {
    color: #fff;
    background-color: #605ca8;
}
.badge-fuchsia {
    color: #fff;
    background-color: #f012be;
}
.badge-pink {
    color: #fff;
    background-color: #e83e8c;
}
.badge-maroon {
    color: #fff;
    background-color: #d81b60;
}
.badge-orange {
    color: #fff;
    background-color: #ff851b;
}
.badge-lime {
    color: #fff;
    background-color: #01ff70;
}
.badge-teal {
    color: #fff;
    background-color: #39cccc;
}
.badge-olive {
    color: #fff;
    background-color: #3d9970;
}
