.avatar img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #abb5bd;
    padding: 1px;
}

legend.col-form-label {
    font-weight: 700;
}


/**
 * Formulaire autocomplete
 */
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}